@import "../theme/autothemer.scss";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.scrollable {
  overflow: auto;
  flex: 1 1 auto;

  .importExport {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
  }
}

.fixedBottom {
  @include themify(border-top-color, $colorBackgroundAccent);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding-top: 15px;
  border-top-style: solid;
  border-top-width: 1px;

  button {
    margin: 0 8px;
  }
}

