@import "../theme/autothemer.scss";

.container {
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.tabs {
  @include themify(color background-color box-shadow,
  $colorTextPrimary $colorBackgroundPrimary $shadow6p);

  flex: 1 1 auto;
}

[data-react-toolbox="tabs"] [class^="tab"] {
  // Make tab area scrollable.
  overflow-y: auto;
  overflow-x: hidden;
}


