@import "../theme/autothemer.scss";

// Stretch the height to the viewport. This page will behave as an app
// instead of a traditional scrollable content page.
@mixin expandHeight {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  @include expandHeight;
}

body {
  @include expandHeight;
  @include themify(font-family font-weight background-color color,
  $fontPrimary $fontWeightThin $colorBackgroundAccent $colorTextPrimary,
  true);
}

// Use selector 'starts with' to avoid 
// webpack localIdentName not matching.
div[id^="appContainer"] {
  @include expandHeight;
}

// This is the first flex container, so no more explicit 'height: 100%'
// since this point on.
.layoutAppContainer {
  @include respond-to(small){
    height: auto;
  }

  display: flex;
  flex-direction: column;
  height: 100%;
}

.layoutNavigationContainer {
  flex: 0 0 auto;
}

.layoutMainContainer {
  @include respond-to(small){
    flex-direction: column;
  }

  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-items: stretch;
}

.panelLeft {
  @include respond-to(small){
    max-width: initial;
  }

  display: flex;
  flex: 0 0 25%;
  max-width: 450px;
  padding: 25px;
  box-sizing: border-box;
}

.panelMain {
  @include respond-to(small){
    height: 100vh;
    padding: 25px 0;
  }

  display: flex;
  flex: 1 1 auto;
  padding: 25px 25px 25px 0;
  box-sizing: border-box;
}


