@import "../../../../theme/theme.scss";

// Export global theme variables to javascript.
:export {
  drag-handle-color: $theme-color-subtle;
}

// Mapping global theme variables to local.
$list-background-color: $theme-color-background-shadowed;
$list-soft-color: $theme-color-subtle;
$item-background-color: $theme-color-background;
$item-drag-shadow: $theme-shadow-drag;


.dragHandle {
  cursor: move;
  color: $list-soft-color;
}

.sortableList {
  background-color: $list-background-color;
  border: 0.5px solid $list-soft-color;
}

// Do not embedd this rule inside sortable-list.
// Sortable-items are copied at the bottom of <body>
// when are dragged from the list.
.sortableItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  background-color: $item-background-color;

  // This selects the item to be dragged.
  body > & {
    animation-name: animation-start-drag;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    @if $theme-experimental-smooth-drag {
      transition-property: transform;
      transition-duration: 50ms;
    }
  }

  &Content {
    width: 100%;
  }
}

// Animations.
@keyframes animation-start-drag {
  from { box-shadow: 0; }
  to { box-shadow: $item-drag-shadow; }
}
