@import "../../../../main.theme.scss";
:export {
  drag-handle-color: $color-subtle;
}

.drag-handle {
  cursor: move;
}

.sortable-list {
  list-style: none;
  background-color: $color-background-shadowed;
}

// Do not embedd this rule inside sortable-list.
// Sortable-items are copied at the bottom of <body>
// when are dragged from the list.
.sortable-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  border: 1px solid $color-subtle;
  margin: -1px 0 0 -1px;  // Emulate border-collapse: collapsed.
  background-color: $color-background;

  .sortable-item-content {
    width: 100%;
  }
}
