@import "../theme/autothemer.scss";


.sortableList {
  @include themify(background-color border-color,
  $colorBackgroundAccent $colorBackgroundAccent);

  border-width: 1px;
  border-style: solid;
}

// Do not embedd this rule inside sortable-list.
// Sortable-items are copied at the bottom of <body>
// when are dragged from the list.
.sortableItem {
  @include themify(background-color, $colorBackgroundPrimary);

  // This selects the item to be dragged.
  body > & {
    animation-name: animation-start-drag;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    z-index: 900; // Hight z-index when dragged, it should be on top of everything.
  }
}

// Animations.
@keyframes animation-start-drag {
  from { box-shadow: 0; }

  to {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}
