@import "../theme/autothemer.scss";


.sortableList {
  @include themify(background-color border-color,
  $colorBackgroundDark $colorBackgroundDark);

  border-width: 0.5px;
  border-style: solid;
}

// Do not embedd this rule inside sortable-list.
// Sortable-items are copied at the bottom of <body>
// when are dragged from the list.
.sortableItem {
  @include themify(background-color, $colorBackground);

  // This selects the item to be dragged.
  body > & {
    animation-name: animation-start-drag;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    // Experimental smooth drag. It will
    // depend on browser. 
    // transition-property: transform;
    // transition-duration: 50ms;    
  }
}

// Animations.
@keyframes animation-start-drag {
  from { box-shadow: 0; }

  to {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12),
      0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
}
