//@import "../theme/autothemer.scss";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.backgroundColorPicker {
  margin: 0 1rem;
}

.resolutionPicker {
  margin: 0 1rem;
}

.pictureSelector {
  margin: 0 1rem;
}

.pictureUpload {
  margin: 0 1rem;
}
