//@import "../theme/autothemer.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pictureUpload {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}

.backgroundColorPicker {
  margin: 8px 0;
}

.pictureResolution {
  margin: 8px 0;
}

.pictureSelector {
}


