@import "../theme/autothemer.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 auto;
}

.icon {
  @include themify(color, $colorTextPrimary);

  flex: 0 0 auto;
  cursor: help;
}

.slider {
  flex: 1 1 auto;
}
