@import "../theme/autothemer.scss";

.container {
  height: 100%;
  padding: 25px 0 25px 25px;
  box-sizing: border-box;
}

.tabs {
  @include themify(color background-color box-shadow,
  $colorTextPrimary $colorBackgroundPrimary $shadow6p);

  height: 100%;
  // border-radius: 5px;
}


