@import "../theme/autothemer.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.label {
  @include themify(color, $colorTextPrimary);

  flex-grow: 0;
}

.slider {
  flex-grow: 1;
}

