//@import "../theme/autothemer.scss";

.wait {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.waitOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 7rem;
  height: 7rem;
  opacity: 0.9;
  border-radius: 50%;
  // TODO: Themify correctly.
  background: white;
}

.waitText {
  z-index: 200;
}
