@import "../../../../theme.scss";

// Export global theme variables to javascript.
:export { right-button-color: $theme-color-text-accent;
          right-button-color-hover: $theme-color-primary-accent;
        }


.layerItem {
  list-style: none;
  width: 100%;

  &:hover {
    //background-color: transparent !important;
  }
}
