$colorPrimary: "colorPrimary";
$colorPrimaryDark: "colorPrimaryDark";
$colorPrimaryContrast: "colorPrimaryContrast";
$colorAccent: "colorAccent";
$colorAccentDark: "colorAccentDark";
$colorAccentContrast: "colorAccentContrast";
$colorBackground: "colorBackground";
$colorBackgroundDark: "colorBackgroundDark";

$fontPrimary: "fontPrimary";
$fontWeightThin: "fontWeightThin";
$fontWeightNormal: "fontWeightNormal";
$fontWeightSemi: "fontWeightSemi";
$fontWeightBold: "fontWeightBold";
