$colorPrimary: "colorPrimary";
$colorPrimaryDark: "colorPrimaryDark";
$colorPrimaryContrast: "colorPrimaryContrast";
$colorAccent: "colorAccent";
$colorAccentDark: "colorAccentDark";
$colorAccentContrast: "colorAccentContrast";
$colorTextPrimary: "colorText";
$colorTextAccent: "colorTextAccent";
$colorBackgroundPrimary: "colorBackgroundPrimary";
$colorBackgroundAccent: "colorBackgroundAccent";

$fontPrimary: "fontPrimary";
$fontWeightThin: "fontWeightThin";
$fontWeightNormal: "fontWeightNormal";
$fontWeightSemi: "fontWeightSemi";
$fontWeightBold: "fontWeightBold";

$shadow2p: "shadow2p";
$shadow3p: "shadow3p";
$shadow4p: "shadow4p";
$shadow6p: "shadow6p";
$shadow8p: "shadow8p";
$shadow16p: "shadow16p";
