@import "./_definitions.scss";

$themeDark: (
  $colorPrimary: hsla(187, 100%, 40%, 1),
  $colorPrimarySemi: hsla(187, 100%, 40%, 0.2),
  $colorPrimaryDark: hsla(187, 100%, 20%, 1),
  $colorPrimaryContrast: hsla(187, 100%, 60%, 1),
  $colorAccent: hsla(340, 100%, 60%, 1),
  $colorAccentSemi: hsla(340, 100%, 60%, 0.2),
  $colorAccentDark: hsla(340, 100%, 40%, 1),
  $colorAccentContrast: hsla(340, 100%, 80%, 1),

  $colorTextPrimary: hsla(0, 0%, 100%, 1),
  $colorTextSecondary: hsla(0, 0%, 20%, 1),
  $colorTextAccent: hsla(187, 100%, 80%, 1),

  $colorBackgroundPrimary: hsl(0, 0%, 20%),
  $colorBackgroundAccent: hsl(0, 0%, 70%),
) !default;
