@import "../../theme/autothemer.scss";

.listItem {
  & [class^="dropdown"] {
    // FIX. Give some padding to a dropdown inside a list item
    // regarding its left icon.
    padding-left: 16px;
  }
}

.left {
  & [data-react-toolbox='font-icon'] {
    // FIX. Left icon not properly vertical centered.
    display: flex;
    align-items: center;
  }

  & :last-child {
    & > [data-react-toolbox="font-icon"] {
      &:not([class*="dragHandle"]) {
        // Non dragHandle left icon in list items.
        // FIX. Excessive left icon margin with respect the content.
        margin-right: 0;
        cursor: help;
      }
    }
  }
}


.itemAction {
  // FIX. Item action margin adding some inconsistent shifting.
  // margin-right: 0 !important;
}

.itemText {
  &.primary {
    @include themify(color, $colorTextPrimary);
  }
}

h5.subheader {
  @include themify(color background-color,
  $colorTextPrimary $colorBackgroundAccent);

  margin: 20px 0 10px 0;
  padding-left: 8px;
  line-height: 1.5rem;
}


