@import "../../theme/autothemer.scss";

// FIX. Left icon not properly vertical centered.
.left {
  & [data-react-toolbox='font-icon'] {
    display: flex;
    align-items: center;
  }
}

// FIX. Item action margin adding some inconsistent shifting.
.itemAction {
  // margin: 0 !important;
}

.itemText {
  &.primary {
    @include themify(color, $colorTextPrimary);
  }
}

h5.subheader {
  @include themify(color background-color,
  $colorTextPrimary $colorBackgroundAccent);

  margin: 15px 0 5px 0;
  padding-left: 8px;
  line-height: 1.5rem;
}

