@import "../../theme/autothemer.scss";

.tab {
  // FIX. Blue outline when focus.
  outline: none;
  // FIX. Occupy whole space.
  flex-grow: 1;
}

.navigation {
  // FIX. Avoid showing scroll bars.
  overflow: hidden;
  height: 100%;
}

.label {
  @include themify(color, $colorTextPrimary);

  opacity: 0.8;

  &.active {
    @include themify(color, $colorTextPrimary);

    opacity: 1;
  }
}

.pointer {
  @include themify(background-color, $colorPrimary);
}
