/* Main variables to themify components */
$base-unit: 1rem;
$base-radius: 0.5; // Percentage factor

$color-background: hsla(0, 0%, 100%, 1);
$color-text: hsla(0, 0%, 15%, 1);
$color-text-accent: hsla(0, 0%, 30%, 1);
$color-grey-tone: hsla(0, 0%, 80%, 0.5);
$color-primary: hsla(180, 100%, 54.7%, 1);
$color-primary-dark: hsla(180, 82.8%, 35.4%, 1);
$color-primary-contrast: hsla(210, 45%, 10%, 1);
//$color-accent: 
//$color-accent-dark:
//$color-accent-contrast:

$shadow-s: 0 2px 2px 0 hsla(0, 0, 0, 0.14),
           0 3px 1px -2px hsla(0, 0, 0, 0.2),
           0 1px 5px 0 hsla(0, 0, 0, 0.12);
$shadow-m: 0 4px 5px 0 hsla(0, 0, 0, 0.14),
           0 1px 10px 0 hsla(0, 0, 0, 0.12),
           0 2px 4px -1px hsla(0, 0, 0, 0.2);
$shadow-l: 0 8px 10px 1px hsla(0, 0, 0, 0.14),
           0 3px 14px 2px hsla(0, 0, 0, 0.12),
           0 5px 5px -3px hsla(0, 0, 0, 0.2);
